<p-menu [model]="itens" class="flex justify-center" styleClass="w-full md:w-60">
  <ng-template #start>
    <span class="inline-flex items-center gap-1 px-2 py-2">
      <span class="text-xl font-semibold">
        <span class="text-primary">{{ titulo() }}</span>
      </span>
    </span>
  </ng-template>

  <ng-template #end>
    <div class="flex flex-col gap-1 p-1">
      <button pRipple (click)="toggleTema()"
        class="relative overflow-hidden w-full border-0 bg-transparent flex items-center p-2 pl-4 item-menu rounded-lg cursor-pointer ">
        <i [class]="isDarkMode() ? 'pi pi-sun' : 'pi pi-moon'" class="mr-2"></i>
        <span class="font-medium">{{ isDarkMode() ? 'Modo Claro' : 'Modo Escuro' }}</span>
      </button>

      <button pRipple
        class="relative overflow-hidden w-full border-0 bg-transparent flex items-start p-2 pl-4 hover:bg-surface-emphasis rounded-lg cursor-pointer transition-colors duration-200">
        <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" class="mr-2"
          shape="circle" />
        <span class="inline-flex flex-col">
          <span class="font-bold">Amy Elsner</span>
          <span class="text-sm">Admin</span>
        </span>
      </button>
    </div>
  </ng-template>
</p-menu>