<p-menu [model]="itens()" class="flex justify-center" styleClass="w-full md:w-60">
  <ng-template #start>
    <div class="w-full p-2">
      <a routerLink="/" class="text-xl font-semibold text-primary">{{ titulo() }}</a>
    </div>

    <p-divider style="margin: 0;" />
  </ng-template>

  <ng-template #end>
    <p-divider style="margin-top: 0;" />

    <div class="flex flex-col">
      @if (estaAutenticado()) {
      <div class="flex items-center w-full px-1">
        <p-avatar label="{{ (usuario()?.nome ?? '?')[0].toUpperCase() }}" class="mr-2" shape="circle" />
        <span class="inline-flex flex-col">
          <span class="font-bold truncate w-32 text-surface">{{ usuario()?.nome }}</span>
          <span class="text-[10px] uppercase font-bold text-surface/60">{{ usuario()?.role }}</span>
        </span>
        <button pRipple (click)="logout()" pButton icon="pi pi-sign-out" severity="danger" text
          class="ml-auto"></button>
      </div>

      } @else {
      <button pRipple routerLink="/login"
        class="group relative overflow-hidden w-full border-0 bg-transparent flex items-center p-2 pl-4 hover:bg-highlight rounded-lg cursor-pointer transition-colors duration-200">
        <i class="pi pi-sign-in mr-2 group-hover:text-color-emphasis"></i>
        <span class="font-medium text-surface group-hover:text-color-emphasis">Entrar</span>
      </button>
      }

      <p-divider style="margin-bottom: 0;" />

      <div class="w-full p-2">
        <button pButton (click)="toggleTema()" [icon]="isDarkMode() ? 'pi pi-sun' : 'pi pi-moon'" severity="contrast"
          outlined size="small"></button>
      </div>
    </div>
  </ng-template>
</p-menu>