@use 'primeicons/primeicons.css';
@use 'tailwindcss';
@plugin 'tailwindcss-primeui';
@layer tailwind, primeng;

body {
  font-family: 'Roboto', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
}
